<!-- Cart Start -->
<div class="cart-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-page-inner">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr >
                <th>Id</th>
                <th>Ngày Tạo</th>
                <th>Mã Đơn Hàng</th>
                <th>Ngày giao</th>
                <th>Địa chỉ giao hàng</th>
                <th>Số điện thoại</th>
                <th>Số Lượng </th>
                <th>Tổng Tiền</th>
              </tr>
              <tr *ngFor="let oder of dataOder">
                <td>{{oder.id}}</td>
                <td>{{oder.createdDate}}</td>
                <td><a href="#"data-toggle="modal" data-target="#myModal">{{oder.code}} </a></td>
                  <div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Chi Tiết Đơn Hàng</h4>
                      </div>
                      <div class="modal-body">
                        <table style="width:100%">
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                          </tr>
                          <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                          </tr>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <td>{{oder.deliveryDate | date: "dd-MM-yyyy"}}</td>
                <td>{{oder.deliveryAddress}}</td>
                <td>{{oder.phoneNumber}}</td>
                <td>{{oder.numberProduct}}</td>
                <td>{{oder.totalResult}}</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
