<!-- Side Bar Start -->
    <div class="sidebar-widget category">
        <h2 class="title">Thể Loại</h2>
        <nav class="navbar bg-light" *ngFor="let cate of categorys">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="{{'category/'+cate.id}}"  ><i></i> {{cate.name}}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-widget brands">
        <h2 class="title">Thương Hiệu</h2>
        <ul>
          <li *ngFor="let brand of brands"><a href="" routerLink="{{'brand/'+brand.id}}">{{brand.name}}</a></li>
        </ul>
    </div>
<!--
    <div class="sidebar-widget tag">
        <h2 class="title">Tags Cloud</h2>
        <a href="#">Lorem ipsum</a>
        <a href="#">Vivamus</a>
        <a href="#">Phasellus</a>
        <a href="#">pulvinar</a>
        <a href="#">Curabitur</a>
        <a href="#">Fusce</a>
        <a href="#">Sem quis</a>
        <a href="#">Mollis metus</a>
        <a href="#">Sit amet</a>
        <a href="#">Vel posuere</a>
        <a href="#">orci luctus</a>
        <a href="#">Nam lorem</a>
    </div> -->
<!-- Side Bar End -->
