
    <div class="row">
      <div class="col-md-12">
          <div class="product-view-top">
            <form action="">
              <div class="row">
                  <div class="col-md-5">
                    <select style="width:250px; height: 38px;">
                      <option *ngFor="let item of categorys">{{item.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-5">
                    <select style="width:250px; height: 38px;">
                      <option *ngFor="let item of brands">{{item.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-2" >
                    <input style=" width: 110px;height:37px;"type="submit" value="Tìm Kiếm">
                  </div>
              </div>
            </form>
          </div>
      </div>
      <div class="col-md-4" *ngFor="let cate of categoryId | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="product-item">
              <div class="product-title" style= "height: 85px;background-color: white;">
                  <a style="color: rgb(7, 7, 7);     text-decoration: underline;" href="" routerLink="{{'detail/'+cate.id}}" >{{cate.name}}</a>
              </div>
              <div class="product-image">
                <!-- lấy link localhost:/4200/detail/3 -->
                <a href="" [routerLink]="['/products/detail/'+cate.id]" routerLinkActive="router-link-active" >
                  <img style=" height: 244px;" src="{{cate.image}}" alt="Product Image">
                </a>
                  <!-- <a href="" routerLink="{{'detail/'+cate.id}}">
                      <img src="{{cate.image}}" alt="Product Image">
                  </a> -->
              </div>
              <div class="product-price" style="background: rgb(231, 185, 185);">
                  <h3 style="color: black;"><span>$</span>{{cate.priceSell}}</h3>
                  <button class="btn" (click)="addCart()"><i class="fa fa-shopping-cart"></i>Buy Now</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Pagination Start -->
  <div class="col-md-12" style="padding-top: 20px">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- Pagination Start -->
